 body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(#f9e4d1, #f7d7b9);
      background-image: url(./38158.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: "Noto Sans SC", sans-serif;
      overflow: hidden;
    }

  .panel {
      background: #fff5e8;
      padding: 50px 60px;
      border-radius: 20px;
      border: 4px solid #c0392b;
      box-shadow: 0 8px 25px rgba(0,0,0,0.15);
      text-align: center;
      position: relative;
    }

  #timer {
      font-size: 120px;
      color: #d60000;
      font-weight: bold;
      margin-bottom: 30px;
      text-shadow: 3px 3px 0px #ffcf71;
    }

  .timeup {
    color: #ffdd00;
    transform: scale(2);
    opacity: 0;
    animation: explode 1s forwards;
  }

  @keyframes explode {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(2.5); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
  }

  button {
      padding: 12px 28px;
      margin: 0 10px;
      border: none;
      border-radius: 12px;
      font-size: 20px;
      cursor: pointer;
      transition: 0.2s;
      color: white;
    }
    .start { background: #e74c3c; }
    .stop { background: #7f8c8d; }
    .reset { background: #d35400; }


    button:hover { opacity: 0.85; }
